.list_wrapper {
  list-style-type: none;
  margin: auto;
  padding: 1em;
  width: 30%;
}

.list_item {
  color: white;
  margin: 0.5em;
  padding: 1em;
  background-color: #ff04bd;
}

.list_item:hover {
  font-weight: bold;
  background-color: #b9168e;
}
