body {
  background-color: #05f8af;
}

.App {
  text-align: center;
}

label {
  padding: 1em;
}

input {
  color: #696969;
  font-size: 1.5em;
  outline: 0;
  background-color: #05f8af;
  border-width: 0 0 2px;
  border-color: black;
  margin-right: 1em;
  width: 300px;
}

button {
  border-color: transparent;
  color: white;
  font-weight: bold;
  padding: 0.8em;
  background-color: black;
  border-radius: 15px;
  text-transform: uppercase;
}

button:hover {
  color: #ff04bd;
}
